/* CSS Général */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Oxanium&family=Oxygen&display=swap');
*{
	margin: 0;
	font-family: "Fira Sans", sans-serif;
}
body{
	background-color: #353738;
}
a, a:visited {
	text-decoration: none;
	color: black;
}
a:hover{
	text-decoration: underline;
	color: black;
}
/* Header */
header {
	display: flex;
	background-color: #FFD800;
	justify-content: space-between;
	align-items: center;
	padding: 5px;
}
/* Images */
.imred { /* Réduction */
	max-height: 100px
}
#imbg { /* Ajustement */
	width: 100%;
}
/* Mini-menu */
nav, nav>div {
	display: inline-block;
	margin: 0 1em;
}
.menu {
	font-size: xx-large;
}
/* Barre de recherche (non-fonctonnelle)*/
#searchbar {
	height: 20%;
}
/* Footer */
footer {
    background-color: #E28CA1;
    padding: 0 20em;
    font-size: large;
}