/* CSS matos.html */
main {
    background-color: white;
    padding: 0 20%;
    padding: 3em ;
}
pre {
    margin: 1em 0;
}
dt {
    text-decoration: underline;
    margin-top: 1em;
}
aside {
    float: right;
}
hr {
    margin: 0.5em 0;
}
article {
    display: flex;
    flex-direction: column;
}
article>div {
    display: flex;
    align-items: center;
}
div>img {
    height: 100px;
    width: auto;
}
div>img, div>div {
    border: solid 2px;
    border-radius: 10px;
    margin: auto 0.5em;
}
div>div {
    padding: 0.5em;
}
article>img {
    object-fit: contain;
    height: 58px;
    width: auto;
}
#grx {
    background-color: lightgray;
}