/* Général */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Oxanium&family=Oxygen&display=swap');
*{
	margin: 0;
	font-family: "Fira Sans", sans-serif;
}
body{
	background-color: #353738;
}
a, a:visited {
	text-decoration: none;
	color: black;
}
a:hover{
	text-decoration: underline;
	color: black;
}
/* Header */
header {
	display: flex;
	background-color: #FFD800;
	justify-content: space-between;
	align-items: center;
	padding: 5px;
	/*margin-bottom: 1em;*/
}
/* Images */
.imred { /* Réduction */
	max-height: 100px
}
#imbg { /* Ajustement */
	width: 100%;
}
/* Mini-menu */
nav, nav>div {
	display: inline-block;
	margin: 0 1em;
}
.menu {
	font-size: xx-large;
}
/* Barre de recherche (non-fonctonnelle)*/
#searchbar {
	height: 20%;
}
/* Main */
main {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(10, 1fr);
}
div.bg{
	grid-column: 2 / 8;
	grid-row: 1	 / 5;
}
div.ubox {
	background-color: white;
	grid-column: 2 / 8;
	grid-row: 5 / 10;
}
div.box{
	background-color: lightgray;
	border-radius: 20px;
	padding: 10px;
	grid-column: 3 / 7;
	grid-row: 4 / 6;
	z-index: 1;
}
div>p {
	font-size: large;
}
